# Nombre del flujo de trabajo que aparecerá en la pestaña 'Actions' de GitHub
name: Actualizar Tasa BCV Diaria

# Definición de los eventos que disparan la ejecución
on:
  schedule:
    # Ejecuta a las 5:15, 5:45 y 6:15 PM (Hora Venezuela, aprox)
    # Nota: GitHub usa UTC, así que sumamos 4 horas
    - cron: '15 21 * * 1-5'
    - cron: '45 21 * * 1-5'
    - cron: '15 22 * * 1-5'
  workflow_dispatch: # Mantiene el botón manual

# Lista de tareas a realizar
jobs:
  build:
    # Tipo de sistema operativo de la máquina virtual (usamos Ubuntu/Linux)
    runs-on: ubuntu-latest
    
    # Permisos necesarios para que el robot pueda escribir/subir cambios al repositorio
    permissions:
      contents: write
      
    steps:
      # Paso 1: Copia los archivos de tu repositorio a la máquina virtual
      - name: Descargar código del repositorio
        uses: actions/checkout@v4

      # Paso 2: Instala el entorno de Python
      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # Paso 3: Instala las librerías necesarias
      - name: Instalar librerías necesarias
        run: pip install requests beautifulsoup4

      # Paso 4: Ejecuta el scraper con los SECRETOS de Telegram
      - name: Ejecutar Scraper de Tasa BCV
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python scraper.py

      # Paso 5: Sincroniza la base de datos de vuelta a GitHub
      - name: Guardar cambios en la base de datos
        run: |
          # Configura la identidad del robot
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action Bot"
          
          # Prepara el archivo de la base de datos
          git add historial_bcv.db
          
          # Lógica de seguridad para evitar errores si no hay cambios
          git diff --quiet && git diff --staged --quiet || (git commit -m "Actualización automática de tasa: $(date)" && git push)
